@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"); 
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

html {
    color-scheme: dark;
    padding: 10px;
}

video {
    width: 50%;
}

iframe {
    width: 100%;
    border: 1px solid lightblue;
}

h1 {
    font-size: 7rem;
}

p, span, strong, li {
    font-size: 2rem;
}